extend components/plantilla.pug 
block contenido 
    section.intro
        .intro__contenido
            h1 Titulo Principal 
            p
                |Lorem ipsum dolor sit, amet consectetur 
                |adipisicing elit. Impedit id enim odit fuga 
                |recusandae obcaecati voluptates libero 
                |nesciunt, consequatur tempore laboriosam 
                |incidunt rerum minima sunt, sit quas, 
                |ducimus eaque dolore

                |Lorem ipsum dolor sit, amet consectetur 
                |adipisicing elit. Impedit id enim odit fuga 
                |recusandae obcaecati voluptates libero 
                |nesciunt, consequatur tempore laboriosam 
                |incidunt rerum minima sunt, sit quas, 
                |ducimus eaque dolore.




            a.boton(href="#") Ver mas